/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}
/* END OF RESET */

img{
    width: 100%;
}


main{
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.image-container{

    width: 40%;
    background-image: url("https://raw.githubusercontent.com/jesuswrivas/sign_up_project_top/main/images/mtb_group.jpg");
    background-size: cover;
    background-position: center;
}


.banner{
    min-height: 8rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.616); /* Transparent background */

}
.banner__logo{  
    min-height: 7rem;
    height: 100%;
    width: 30%;
    background-image: url("https://raw.githubusercontent.com/jesuswrivas/sign_up_project_top/main/images/odin-lined.png");
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner__text{
    
    display: flex;
    align-items: center;
    
    font-family: Norse;
    text-align: center;
    height: 100%;
    font-size: 6vw;
    color: white;
}

.form-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
}


.form-container__heading{
    
    padding-top: 6rem;
    height: 35%;
    width: 50%;
    min-width: 30rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    
    
}
.form-container__heading p{
    margin: 1rem;
    
}



.form-container__register-card{
    height: 35%; 
    min-width: 30rem;   
    background-color: white;
    font-size: 0.8rem;
    font-weight: 600;
    box-shadow: 2px 18px 16px -7px rgba(0,0,0,0.1);
}

.form-container__register-card h2{
    padding: 1rem 2rem 0 2rem;
    font-size: 1.2rem;
}


.container input{
    height: 1.5rem;
    border: 1px solid #E5E7EB;
    border-radius: 0.3rem
  }
  .container input:invalid{
    border: 1px solid red;

  }

  .container input:valid{
    border: 1px solid 

  }

  .container input:focus{

    outline: 1px solid #E5E7EB;
    border: 1px solid #E5E7EB;
  }


.password_message{
    display: none;
    color: red;
    font-size: 0.7rem;
    font-weight: 300;
}

.form-container__buttons{
    padding: 2rem;
    height: 30%;
}

.form-container__buttons__sign-up{
    background-color: #2b5333cc;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
    color: white;
    font-size: 1.1rem;
    display: block;
}

.register-card__input{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
}

.wrong_input {
    border: 1px solid red;  
}

